body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #28292d;
}
.btn{
    position: fixed;
}

.btn-container {
    background-color: #2d2e32;
    padding: 15px;
    border-radius: 5px;
    transition: ease-in;
    position: fixed;
}
.circular-btn{
    background-color: #6473f4;
    border-radius: 50%;
    width:150px;
    height:150px;
    transition: ease-in;
    transform: rotate(1turn);
}
.submitted{
    background-color: #2d2e32;
    border-radius: 50%;
    width:150px;
    height:150px;
    transition: ease-in;
    color: #ffffff;
    font-size: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
    left: 5px;
    box-shadow: 0 20px 30px rgb(40 41 45 / 20%), inset 0px 10px 30px 5px rgb(114 125 215);
    
    /* animation */
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;

}
.visibility{
    display: none;
}
.submit-button{
    width: 250px;
    height:90px;
    border-radius: 5px;
    background-color: #6473f4;
    border: none;
    font-size: 26px;
    color: white;
    font-weight: 500;
}
.submit-button:focus{
    background-color: #727dd7;
    outline: none;
}

/* keyframes */
@-webkit-keyframes  animateBubble{
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -150%;
    }
}

@keyframes  animateBubble{
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -150%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}



