* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 20px 10%;
  background-color: #5e696a;
}

header li,
a,
button {
  color: #edf0f1;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: orangered;
}

header button {
  padding: 9px 25px;
  background-color: #e53e2d;
  border-radius: 50px;
  font-size: 20px;
  border: none;
  transition: all 0.3s ease 0s;
}

header button:hover {
  background-color: #c72918;
}

.hero-box {
  padding: 100px 100px;
  color: #fff;
  background-color: #101010;
  /* border: 1px solid orangered; */
  text-align: center;
}

.hero-box h1 {
  margin: auto;
  max-width: 800px;
  margin-bottom: 20px;
  font-size: 300%;
  border-bottom: 2px solid orangered;
  padding-bottom: 10px;
}

.hero-box p {
  margin: auto;
  max-width: 600px;
  font-size: 120%;
  margin-bottom: 30px;
}

.hero-box button {
  background-color: #101010;
  border: 1px solid orangered;
  font-size: 200%;
  border-radius: 20px;
  padding: 10px 20px;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  color: #fff;
  background-color: #101010;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline-content h3 {
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 30px;
  position: absolute;
  top: -40px;
}

.timeline-content p {
  font-size: 120%;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h2 {
  margin-bottom: 10px;
}

.timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: tomato;
  left: 50%;
}

.timeline ul li {
  width: 50%;
}

.timeline ul li:nth-child(odd) {
  float: left;
  clear: right;
  transform: translateX(-30px);
}

.timeline ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

.timeline ul li::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: firebrick;
  border-radius: 50%;
  top: 0;
}

.timeline ul li:nth-child(odd)::after {
  transform: translate(50%, -50%);
  right: -30px;
}

.timeline ul li:nth-child(even)::after {
  transform: translate(-50%, -50%);
  left: -30px;
}

/* @media only screen and (min-width: 768px) {
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
} */
