td{
    height: 130px;
    width: 130px;
    text-align: center;
    border: 7px solid black;
    font-size: 80px;
}

#turn{
    margin-top: -15px;
    text-align: center;
    font-weight: bolder;
}

.winner{
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    font-weight: bolder;
    transition: ease-in;
    background: rgba(0,0,0,.5);
    color: white;
}
