*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #090221;
}
.card{
    position: relative;
    width: 280px;
    height: 379px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,.3);
}
.card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("./marvel.jpg") center/cover;
}
.content{
    position: absolute;
    bottom: 0;
    width: 280px;
    height: 150px;
    background: #20262e;
    padding: .5rem 1rem;
    display: flex;
    z-index: 1;
    flex-direction: column;
    color: #fff;
    justify-content: space-around;
    transition: .3s;
    transform: translateY(90px);
    background: transparent;
}
.content span{
    margin-left: .5rem;
    color: #fdc650;
    font-size: .8rem;
}
.icons-box{
    display: flex;
    justify-content: center;
}
.icons-box a{
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #7a7676;
    color: #7a7676;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.icons{
    display: flex;
}
.icons a{
    margin-right: .5rem;
}
.text{
    font-size: .8rem;
    color: #7a7676;
}
a:hover{
    background: #fff;
    border-color: #fff;
    color: #20262e;
}
.card:hover .content{
    transform: translateY(0);
    background: #20262e;
}