@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Copse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eff0b3;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.project-title {
  color: black;
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: 900;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0%;
  background: #1a202c;
  margin-top: 4rem;
  padding: 2rem;
  color: #fafafa;
  font-family: Montserrat;
}
.footer-desc {
  margin: 4rem 5%;
}
.footer-title {
  color: #fafafa;
}
.crucial-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 2px solid white;
  font-weight: 200;
}
.crucial-links h4:first-child {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.7rem;
}
.crucial-links ul li {
  color: white;
}
.crucial-links li {
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 0.2rem;
}
.bottom-desc {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.bottom-desc i {
  font-size: 1.5rem;
  margin-left: 1rem;
}
