* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

header {
    margin: auto;
    color: rgb(0, 140, 255);
    background: url(Img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    width: 79vw;
    padding: 30px;
    padding-bottom: 50px;
    margin: auto;
}

body {
    background: url('Img/back.jpg');
}

.heading {
    color: #F4F2F0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tagline {
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 75vw;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding-bottom: 50px;
}

.navbar {
    width: 75vw;
    height: auto;
    background-color: rgb(0, 140, 255);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.nav {
    background-color: rgb(0, 140, 255);
    text-align: center;
    align-self: center;
    padding: 22px;
    padding-top: 16px;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav:hover {
    background-color: rgb(0, 92, 167);
}

.leftbox {
    width: 55%;
    padding-bottom: 50px;
    margin: 20px 10px 20px 30px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rightbox {
    width: 30%;
    margin: 20px 30px 20px 20px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.con {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue {
    color: rgb(0, 140, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#browse {
    color: rgb(0, 140, 255);
}

h3 {
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
    color: rgb(0, 140, 255);
}

.link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fa62f2;
}

.clip {
    margin: 0 0 0 10px;
}

footer {
    position: relative;
    margin: auto;
    height: auto;
    background-color: rgb(0, 140, 255);
    width: 75vw;
    margin-bottom: 40px;
}

.con {
    text-align: center;
    padding: 15px;
}

p {
    margin: 10px 0 10px 0;
}

h4 {
    margin: 10px 0 2px 0;
    color: rgb(0, 140, 255);
}

.date {
    margin-bottom: 15px;
}

h3 {
    margin: 20px 0 20px 0;
}

.welcome {
    color: black;
}

.read {
    margin: 10px 0 20px 0;
}

.list1 {
    margin-left: 5px;
    list-style: none;
}

.list1 li::before {
    content: '\2022';
    color: rgb(0, 140, 255);
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.linkclip {
    content: '  ';
    list-style: none;
    background: url('Img/paper-clip.png') no-repeat;
    background-size: 13px;
    background-position: left center;
    padding: 0 10px 0 20px;
}

a:-webkit-any-link {
    color: #fa62f2 !important;
}

a:hover:-webkit-any-link {
    color: rgb(0, 140, 255) !important;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

@media(max-width: 576px) {
    .form input {
        width: 100%;
    }
}