body {
    margin: 0px;
    padding: 0px;
    background-color: #ff7f3f;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-div {
    display: flex;
}

.C {
    font-family: "Chillax", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 3px 3px 10px #000;
    color: #3330e4;
    z-index: 100;
}

.O {
    font-family: "Comico", cursive;
    font-weight: 400;
    font-size: 70px;
    color: #ffff00;
    z-index: 100;
}

.N {
    font-family: "Chillax", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 3px 3px 10px #000;
    color: #3330e4;
    z-index: 100;
}

.F {
    font-family: "Chillax", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 3px 3px 10px #000;
    color: #3330e4;
    z-index: 100;
}

.U {
    font-family: "Comico", cursive;
    font-weight: 600;
    font-size: 70px;
    color: #ffff00;
    z-index: 100;
}

.S {
    font-family: "Chillax", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 3px 3px 10px #000;
    color: #3330e4;
    z-index: 100;
}

.E {
    font-family: "Chillax", sans-serif;
    font-weight: 600;
    font-size: 150px;
    text-shadow: 3px 3px 10px #000;
    color: #3330e4;
    z-index: 100;
}

.D {
    font-family: "Comico", cursive;
    font-weight: 600;
    font-size: 70px;
    color: #ffff00;
    z-index: 100;
}

.everyone {
    position: absolute;
    z-index: 101;
    top: 230px;
    left: 300px;
    font-size: 20px;
    font-family: "Pally", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 2px 7px;
    background-color: #31e1f7;
    color: #400d51;
    transform: rotate(-15deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);
}

.why {
    position: absolute;
    top: 375px;
    left: 745px;
    font-size: 20px;
    font-family: "Pally", sans-serif;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 2px 7px;
    background-color: #38e54d;
    color: #293462;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);
}

.question {
    position: absolute;
    top: 400px;
    left: 150px;
    font-size: 55px;
    background-color: #f94c66;
    border: none;
    border-radius: 10px;
    padding: 0px 7px 5px 7px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);
}

.emoji {
    position: absolute;
    top: 80px;
    right: 150px;
    font-size: 50px;
    background-color: #f94c66;
    border: none;
    border-radius: 10px;
    padding: 0px 7px 5px 7px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.616);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.452);
}

.confused-img {
    position: absolute;
    top: 100px;
    left: 120px;
    opacity: 0.4;
    height: 100px;
    width: 100px;
}
