*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: #000;
    align-items: center;
    justify-items: center;
    padding: 0 0 30px 0;
}
.nbar{
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}
.name{
    color:#fff;
    font-size: 30px;
}
span{
    color:#ea1538;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    font-size: 18px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}