@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@600;700&display=swap');
body{
    margin:0;
    font-family: 'Heebo', sans-serif;
    color: white;
    font-size: 20px;
}
.header-style {
    background-color: #0044FA;
    height: 7px;
}
header.header-section {
    background-color: #212121;
    /* border-top-color: 2px solid blue; */
    padding: 15px 45px;
}

.navbar-items-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}
.navbar-item {
    display: flex;
}

.icon-container {
    display: flex;
    align-items: center;
}

.brand-name {
    font-size: 28px;
    font-weight: 600;
    color: #0044FA;
}
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-items {
    position: absolute;
    top: 70px;
    right: 140px;
    color: black;
    width: 160px;
    display: flex;
    background-color: white;
    padding: 15px 0px;
    border-radius: 9px;
    box-shadow: 2px 3px 8px #494949;
    justify-content: center;
    /* align-items: center; */
    /* left: 980px; */
    z-index: 100;
    flex-direction: column;
}
.design{
    padding: 5px 20px;
}
.development{
    padding: 5px 20px;
}
.design:hover{
    background-color: #0044FA;
    
}
.development:hover{
    background-color: #0044FA;
}
.triangle{
    position: absolute;
    top: 54px;
    z-index: 100;
    right: 167px;
}

.visibility{
    display: none;
}
.icon {
    display: flex;
    align-items: center;
    margin-left: 4px;
}

.navbar-item:hover{
    color:#0044FA;
}
.icon-container:hover{
    color: #0044FA;
}
.navbar-collapse {
    background-color: #212121;
    padding: 10px 45px;
}
.nav-item {
    padding: 5px 0px;
}
.work-items-container {
    padding-top: 5px;
}
.work-item-collapse {
    padding: 5px 0px;
}
.icon-container-collapse{
    display: flex;
    align-items: center;
}
.nav-item:hover{
    color: #0044FA;
}
.work-item-collapse:hover{
    color:#0044FA;
}
.nav-item-work{
    padding: 5px 0px;
}
.icon-container-collapse:hover{
    color: #0044FA;
}
@media (max-width: 700px){
    .navbar-items-container{
        display:none;
    }
}
@media (min-width: 701px){
    .collapse-btn{
        display:none;
    }
    .navbar-collapse{
        display: none;
    }
}