*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    background-color: #dde1e7;
    align-items: center;
    padding: 30px;
}

.neumorphism1{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    border-radius: 30px;
    box-shadow:  -3px -3px 8px #ffffff73,  3px 3px 5px rgba(94, 104, 121, .288);
    margin: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(81, 71, 71);
}

.neumorphism2{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    border-radius: 30px;
    box-shadow: inset -3px -3px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    margin: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(81, 71, 71);
}
.neumorphism3{
    height: 200px;
    width: 200px;
    background-color: #dde1e7;
    border-radius: 50%;
    box-shadow: inset -3px -3px 8px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(81, 71, 71);
}

.neumorphism3::after{
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    box-shadow:-3px -3px 8px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);

}