* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

}

.bg {
    position: relative;
    /* height: 100vh; */
    background: url(images/Space_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.rocket {
    position: absolute;
    left: 0px;
    top: 500px;
    rotate: 60deg;
    scale: 0.5;
    animation: diagonal 15s linear infinite normal;
}

.earth {
    position: relative;
    left: 100px;
    scale: 0.2;
}

.jupiter {
    position: relative;
    left: 50px;
    top: 100px;
    scale: 1.5;
}

.neptune {
    position: relative;
    left: 850px;
    top: -900px;
    scale: 0.7;
}


@keyframes diagonal {

    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(150px, -3500px);
    }


}