*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.main_div{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_div{
    height: 15rem;
    width: 15rem;
    position: relative;
    /* background-color: #d10000; */
}

span{
    position: absolute;
    left: 0;
    top: 0;
    width: 4rem;
    height: 4rem;
    background-color: #e90101;
    animation: loader 2s linear infinite;
}

span:nth-child(2){
    background-color: #009c3c;
    animation-delay: 0.5s;
}

span:nth-child(3){
    background-color: #fffb06;
    animation-delay: 1s;
}

span:nth-child(4){
    background-color: #235dff;
    animation-delay: 1.5s;
}

@keyframes loader {
    0%{
        top: 0;
        left: 0;
    }
    12.5%{
        top: 0;
        left: 50%;
    }
    25%{
        top: 0;
        left: 50%;
    }
    37.5%{
        top: 50%;
        left: 50%;
    }
    50%{
        top: 50%;
        left: 50%;
    }
    62.5%{
        top: 50%;
        left: 0;
    }
    75%{
        top: 50%;
        left: 0;
    }
    87.5%{
        top: 0;
        left: 0;
    }
    100%{
        top: 0;
        left: 0;
    }
}