*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Montserrat";
    line-height: 1.5;
}
/*************** Intro-page Section *****************/
.intro-page{    
    padding: 3% 1%;
    text-align: center;
    background-color: aliceblue;
}
.heading-1{
    font-weight: 900;
}
.heading-4{
    font-weight: 300;
    padding-bottom: 30px;
}

/*************** Main-page Section *****************/
.main-page{
    background-color: black;
    padding: 7% 15%;
    color: aliceblue;
    border-radius: 15px;
}
.col-1{
    position: relative;
    right: 13%;
}
.main-content{
    font-family: "BIZ UDMincho";
    font-weight: 500    ;
    text-align: left;
    font-size: 1.75rem;
    margin: 55px 17px;
}
.image{
    margin-bottom: 15px;
}
.img-content{
    font-weight: 300;
    font-size: 0.8rem;
}

/*************** Biography-page Section *****************/

.biography-heading{
    margin: 5% 4%;
    font-size: 2.2rem;
    font-weight: 500;
}

.unstyle-list{
    margin: 2% 18%;
}

.list-item{
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
}