*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monaco', Monospace;
}

body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 35px;
  background: #33006F;
}

.button 
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #df0086;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

.button:hover 
{
    background-color: #df0086
}

.button:active 
{
  background-color: #df0086;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.heading
{
  color: #df0086; 
  font-size: bold;
  border-bottom: 4px solid pink;
}

.inputbox
{
    position: relative;
    width: 250px;
}

.inputbox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.127);
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputbox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.2s;
}

/*Float input animation*/

.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: #df0086;
    transform: translateX(1px) translateY(-20px);
    font-size: 0.80em;
    padding: 0 10px;                                           
    background: #1d2b3a;
    border-left: 1px solid #df0086;
    border-right: 1px solid #df0086;
    letter-spacing: 0.2em;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    background: #df0086;
    color: #1d2b3a;
    border-radius: 2px;
}

.inputbox input:valid,
.inputbox input:focus
{
    border: 2px solid #df0086;
}
