@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Varela+Round&display=swap');

/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Varela Round', sans-serif; */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Varela Round', sans-serif;
}

a{
    color: white;
}

img{
    width: 100%;
}

.container-fluid{
    padding: 10% 10%;
}


#title{
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
}

#title .container-fluid{
    background-color: rgba(0, 0, 0, 0.198);
    width: 100%;
    height: 100%;
    padding: 0;
}
.nav-item{
    padding: 0 20px;
}
.nav-link{
    color: grey;
}

.nav-link:hover{
    color: white;
    text-decoration: underline;
}

.white-box{
    border: 10px solid currentColor;
    width: 90%;
    height: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

.heading{
    font-family: 'Libre Baskerville', serif;
    font-size: 7rem;
    letter-spacing: 30px;
}

.white-box h3{
    font-size: 2rem;
    letter-spacing: 5px;

}

.icon{
    font-size: 2rem;
    position: relative;
    top: 7%;
}

.icon a:hover{
    color: white;
}

.benifit-column{
    text-align: center;
    color: #967B5A;
    border-right: 1px solid grey;
}

.benifit-column:last-child{
    border: none;
}

.benifit-column i{
    font-size: 4rem;
    margin-bottom: 20px;
}

#services{
    background-color: #FFFBF7;
}

.services-column{
    padding: 40px;
    color: #967B5A;
    line-height: 2;
}

.services-column img{
    transition: transform .5s;
}

.services-column h3{
    padding: 20px 0;
}

.services-column:hover img{
    transform: scale(1.1);
}


.contact-column{
    background-color: #967B5A;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.info{
    padding: 30px;
}

.info h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 5rem;
}

footer{
    padding: 20px;
    color: #967B5A;
    /* background-color: #967B5A; */
    text-align: center;
}

.footer-link{
    font-size: 1.2rem;
    color: #967B5A;
    padding: 0 10px;
}


.footer-link:hover i, .credits:hover{
    transform: scale(1.3);
    color: #584937;
}

.credits{
    color: #967B5A;
    text-decoration: underline;
    font-family: 'Libre Baskerville', serif;
}



@media screen and (max-width: 1000px) {
    .heading{
        font-size: 4rem;
    }

    .white-box h3{
        font-size: 1.3rem;
    }

    .benifit-column{
        margin: 40px 0;
        border: none;
    }

}

@media screen and (max-width: 700px) {
    .heading{
        font-size: 3rem;
        letter-spacing: 10px;
    }

    .white-box h3{
        font-size: 1rem;
    }

    .info{
        padding: 12% 20px;
    }
    .info h1{
        font-size: 2rem;
    }

}