*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media all and (max-width: 500px){
    .photos div {
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: row;
        justify-content:flex-end;
        align-items:flex-end;
        vertical-align: bottom;
        font-size: 18px;
        font-weight: bold;
    }
    .photos .sn .ph1{
        font-size: 18px;
        font-weight: bold;
    }
    .photos .st{
        font-size: 14px;
        font-weight: normal;
    }
    .main .headings{
        margin: 1px;
    }
    .head .logo img{
        width: 120px;
        margin: auto;
    }
    header .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    header .head .nc{
        font-size: 14px;
        margin: 5px;
        flex-wrap: nowrap;
    }
    header .head .nav{
        margin: auto;
        flex-wrap: nowrap;
    }
    /* .head .menu img{
        width: 15px;
    }
    .head .mn{
        font-size: 15px;
    } */
    .main .con p{
        padding: 15px 15px 15px 8px;
    }
}
.mn{
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    float: left;
}
.menu img {
    width: 20px;
    background-color: rgb(255, 255, 255);
    float: left;
}
.logo img{
    width: 150px;
}
.head .nav{
    color: black;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    flex-wrap: wrap;
}
.nc{
    margin: 10px;
    font-size: 18px;
}
.nc:hover{
    border-bottom: rgb(139, 212, 255) 3px solid;
}
.nav >*:first-child{
    border-bottom: rgb(139, 212, 255) 3px solid;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    background-color: white;
    padding: 10px 30px 10px 30px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.container{
    margin: auto;
    width: 100%;
}

.headings{
    /* margin: 0 0 0 12px; */
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    padding: 5px;
    width: 100%;
    color: white;
    font-weight: bold;
    
}
.photos{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    /* margin: auto; */
    justify-content: flex-start;
    width: 100%;
    
}
.ph1{
    width: 48%;
    padding: 15px;
    margin: 7px;
    height: 350px;
    background: url('Img/ph1.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    
}
.st{
    font-size: 14px;
    font-weight:normal;
}
.ph2{
    
    width: 48%;
    padding: 15px;
    margin: 7px;
    height: 350px;
    background: url('Img/ph2.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
   
}
.ph3{
    width: 48%;
    padding: 15px;
    margin: 7px;
    height: 350px;
    background: url('Img/ph3.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.ph4{
    width: 48%;
    padding: 15px;
    margin: 7px;
    height: 350px;
    background: url('Img/ph4.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.mp1{
    
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp1.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
   
}
.mp2{
   
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp2.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.mp3{
    
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp3.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
   
}

.mp4{
   
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp4.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.mp5{
  
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp5.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}
.mp6{
    width: 32%;
    padding: 15px;
    margin: 4px;
    height: 220px;
    background: url('Img/mp6.jpg') no-repeat;
    background-size: cover;
    box-shadow: inset 0 -50px 120px -20px rgb(31, 31, 31);
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:flex-end;
    font-size: 18px;
    font-weight: bold;
    color: white;
    
}

p{
    margin: 0;
    padding: 18px 18px 18px 8px;
    background-color: rgb(0, 0, 0);
}
.con{
    padding: 20px 0 15px 0;
    color: white;
    background-color: rgb(0, 0, 0);
}
.cs{
    background-color: rgb(32, 32, 32);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 20px auto;
    height: auto;
    color: rgb(247, 247, 247);
    font-size: 14soraipx;
}
.tb{
    margin: 14px;
}
.tb:hover{
    color: rgb(96, 178, 255);
}
.copyright{
    color: rgb(138, 138, 138);
    font-size: 12px;
    margin: 10px auto 25px auto;
}
.corus{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.corus img{
    width: 100px;
    margin: 25px;
}
.channel{
    width: auto;
    padding: 10px 30px 50px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.channel img{
  width: 80px;
    margin: 40px;
  opacity: .6;
}

.ph1:hover,
.ph2:hover,
.ph3:hover,
.ph4:hover,
.mp1:hover,
.mp2:hover,
.mp3:hover,
.mp4:hover,
.mp5:hover,
.mp6:hover{
    opacity: .75;
    transform: scale(1.01);
    /* transition: .3s; */
    transition-duration: 0.2s;
}
.ch img:hover{
    opacity: 1;
}