[class*=classic]:before {
    content: "Loading...";
}

.classic-1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    animation: c1 1s linear infinite alternate;
}

@keyframes c1 {
    to {
        opacity: 0
    }
}

.classic-2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) bottom left/0% 3px no-repeat;
    animation: c2 2s linear infinite;
}

@keyframes c2 {
    to {
        background-size: 100% 3px
    }
}

.classic-3 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding: 0 5px 8px 0;
    background: repeating-linear-gradient(90deg, currentColor 0 8%, #0000 0 10%) 200% 100%/200% 3px no-repeat;
    animation: c3 2s steps(6) infinite;
}

@keyframes c3 {
    to {
        background-position: 80% 100%
    }
}

.classic-4 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: c4 1s steps(4) infinite;
}

@keyframes c4 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.classic-5 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 100% 0 0);
    animation: c5 2s steps(11) infinite;
}

@keyframes c5 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}

.classic-6 {
    --c: #000;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    text-shadow: 0 0 var(--c), 11ch 0 var(--c);
    animation: c6 2s infinite linear;
}

@keyframes c6 {
    to {
        text-shadow: -11ch 0 var(--c), 0ch 0 var(--c)
    }
}

.classic-7 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg, red calc(50% + 0.5ch), #000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: c7 2s infinite steps(11);
}

@keyframes c7 {
    to {
        background-position: left
    }
}

.classic-8 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg, #000 calc(50% - 0.5ch), red 0 calc(50% + 0.5ch), #000 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: c8 2s infinite steps(11);
}

@keyframes c8 {
    to {
        background-position: left
    }
}


.classic-9 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    overflow: hidden;
    animation: c9 5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes c9 {
    0% {
        text-shadow: 0 0 #000, 11ch 0 green, 22ch 0 red, 33ch 0 blue, 44ch 0 #000
    }

    25% {
        text-shadow: -11ch 0 #000, 0ch 0 green, 11ch 0 red, 22ch 0 blue, 33ch 0 #000
    }

    50% {
        text-shadow: -22ch 0 #000, -11ch 0 green, 0ch 0 red, 11ch 0 blue, 22ch 0 #000
    }

    75% {
        text-shadow: -33ch 0 #000, -22ch 0 green, -11ch 0 red, 0ch 0 blue, 11ch 0 #000
    }

    100% {
        text-shadow: -44ch 0 #000, -33ch 0 green, -22ch 0 red, -11ch 0 blue, 0ch 0 #000
    }
}

.classic-10 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    color: #0000;
    background: linear-gradient(90deg, #000 25%, green 0 50%, red 0 75%, blue 0) 0 0/400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: c10 5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes c10 {
    25% {
        background-position: calc(1*100%/3) 0
    }

    50% {
        background-position: calc(2*100%/3) 0
    }

    75% {
        background-position: calc(3*100%/3) 0
    }

    100% {
        background-position: calc(4*100%/3) 0
    }
}

/**/
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 130px;
    place-items: center;
}

* {
    box-sizing: border-box;
}







.progress-1 {
    width: 120px;
    height: 20px;
    background:
        linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
    animation: p1 2s infinite linear;
}

@keyframes p1 {
    100% {
        background-size: 100%
    }
}

.progress-2 {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
        linear-gradient(orange 0 0) 0/0% no-repeat lightblue;
    animation: p2 2s infinite steps(10);
}

@keyframes p2 {
    100% {
        background-size: 110%
    }
}

.progress-3 {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    background:
        repeating-linear-gradient(135deg, #f03355 0 10px, #ffa516 0 20px) 0/0% no-repeat,
        repeating-linear-gradient(135deg, #ddd 0 10px, #eee 0 20px) 0/100%;
    animation: p3 2s infinite;
}

@keyframes p3 {
    100% {
        background-size: 100%
    }
}

.progress-4 {
    width: 120px;
    height: 20px;
    -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) 0/20%;
    background:
        linear-gradient(#000 0 0) 0/0% no-repeat #ddd;
    animation: p4 2s infinite steps(6);
}

@keyframes p4 {
    100% {
        background-size: 120%
    }
}

.progress-5 {
    width: 80px;
    height: 40px;
    border: 2px solid currentColor;
    border-right-color: transparent;
    padding: 3px;
    background:
        repeating-linear-gradient(90deg, currentColor 0 10px, #0000 0 15px) 0/0% no-repeat content-box content-box;
    position: relative;
    animation: p4 2s infinite steps(6);
}

.progress-5::before {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: 100%;
    width: 10px;
    background:
        linear-gradient(#0000 calc(50% - 7px), currentColor 0 calc(50% - 5px),
            #0000 0 calc(50% + 5px), currentColor 0 calc(50% + 7px), #0000 0) left /100% 100%,
        linear-gradient(currentColor calc(50% - 5px), #0000 0 calc(50% + 5px), currentColor 0) left /2px 100%,
        linear-gradient(#0000 calc(50% - 5px), currentColor 0 calc(50% + 5px), #0000 0) right/2px 100%;
    background-repeat: no-repeat;
}

@keyframes p5 {
    100% {
        background-size: 120%
    }
}

.progress-6 {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
}

.progress-6::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: p6 2s infinite;
}

@keyframes p6 {
    100% {
        inset: 0
    }
}

.progress-7 {
    width: 120px;
    height: 24px;
    -webkit-mask:
        radial-gradient(circle closest-side, #000 94%, #0000) 0 0/25% 100%,
        linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
    background:
        linear-gradient(#25b09b 0 0) 0/0% no-repeat #ddd;
    animation: p7 2s infinite linear;
}

@keyframes p7 {
    100% {
        background-size: 100%
    }
}

.progress-8 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
    background:
        linear-gradient(#f03355 0 0) bottom/100% 0% no-repeat #ddd;
    animation: p8 2s infinite steps(7);
}

@keyframes p8 {
    100% {
        background-size: 100% 115%
    }
}


.progress-9 {
    --r1: 154%;
    --r2: 68.5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
        radial-gradient(var(--r1) var(--r2) at bottom, #269af2 79.5%, #0000 80%),
        radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #269af2 80%),
        #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%, 0% 0%, 100% 0%;
    background-repeat: no-repeat;
    animation: p9 2s infinite linear;
}

@keyframes p9 {
    33% {
        background-position: 0% 33%, 100% 33%, 200% 33%
    }

    66% {
        background-position: -100% 66%, 0% 66%, 100% 66%
    }

    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%
    }
}


.progress-10 {
    width: 120px;
    height: 60px;
    border-radius: 200px 200px 0 0;
    -webkit-mask: repeating-radial-gradient(farthest-side at bottom, #0000 0, #000 1px 12%, #0000 calc(12% + 1px) 20%);
    background:
        radial-gradient(farthest-side at bottom, #514b82 0 95%, #0000 0) bottom/0% 0% no-repeat #ddd;
    animation: p10 2s infinite steps(6);
}

@keyframes p10 {
    100% {
        background-size: 120% 120%
    }
}

/**/
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 130px;
    place-items: center;
}

* {
    box-sizing: border-box;
}




.spinner-1 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: s1 1s infinite;
}

@keyframes s1 {
    to {
        transform: rotate(.5turn)
    }
}

.spinner-2 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: orange;
    animation: s2 1s infinite linear;
}

@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}

.spinner-3 {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}

.spinner-4 {
    width: 50px;
    --b: 8px;
    /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%, #f03355) content-box;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s4 1s infinite steps(10);
}

@keyframes s4 {
    to {
        transform: rotate(1turn)
    }
}

.spinner-5 {
    width: 50px;
    --b: 8px;
    /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    background: #514b82;
    -webkit-mask:
        repeating-conic-gradient(#0000 0deg, #000 1deg 70deg, #0000 71deg 90deg),
        radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation: s5 1s infinite;
}

@keyframes s5 {
    to {
        transform: rotate(.5turn)
    }
}

.spinner-6 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 3px;
    background:
        radial-gradient(farthest-side, #ffa516 95%, #0000) 50% 0/12px 12px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 5px), #ffa516 calc(100% - 4px)) content-box;
    animation: s6 2s infinite;
}

@keyframes s6 {
    to {
        transform: rotate(1turn)
    }
}

.spinner-7 {
    width: 50px;
    aspect-ratio: 1;
    --_c: radial-gradient(farthest-side, #25b09b 92%, #0000);
    background:
        var(--_c) top,
        var(--_c) left,
        var(--_c) right,
        var(--_c) bottom;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    animation: s7 1s infinite;
}

@keyframes s7 {
    to {
        transform: rotate(.5turn)
    }
}

.spinner-8 {
    width: 50px;
    aspect-ratio: 1;
    color: #f03355;
    --_c: no-repeat radial-gradient(farthest-side, currentColor 92%, #0000);
    background:
        var(--_c) 50% 0 /12px 12px,
        var(--_c) 50% 100%/12px 12px,
        var(--_c) 100% 50%/12px 12px,
        var(--_c) 0 50%/12px 12px,
        var(--_c) 50% 50%/12px 12px,
        conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px/calc(50% + 2px) calc(50% + 2px);
    animation: s8 1s infinite linear;
}

@keyframes s8 {
    to {
        transform: rotate(.5turn)
    }
}

.spinner-9 {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #f03355 95%, #0000) 50% 1px/12px 12px no-repeat,
        radial-gradient(farthest-side, #0000 calc(100% - 14px), #ccc 0);
    animation: s9 2s infinite linear;
}

@keyframes s9 {
    to {
        transform: rotate(1turn)
    }
}

.spinner-10 {
    width: 50px;
    aspect-ratio: 1;
    color: #854f1d;
    border-radius: 50%;
    display: grid;
    background:
        conic-gradient(from 90deg at 4px 4px, #0000 90deg, currentColor 0) -4px -4px/calc(50% + 2px) calc(50% + 2px),
        radial-gradient(farthest-side, currentColor 6px, #0000 7px calc(100% - 6px), currentColor calc(100% - 5px)) no-repeat;
    animation: s10 2s infinite linear;
    position: relative;
}

.spinner-10:before {
    content: "";
    border-radius: inherit;
    background: inherit;
    transform: rotate(45deg);
}

@keyframes s10 {
    to {
        transform: rotate(.5turn)
    }
}

/**/
body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 130px;
    place-items: center;
}

* {
    box-sizing: border-box;
}