@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-family: 'Inter Tight', sans-serif;
}
.container{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.circle1{
    height:200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    position: absolute;
    margin-top: -420px;
    margin-left: -300px;
}
.circle2{
    height:15rem;
    width: 15rem;
    border-radius: 50%;
    background: rgb(34,193,195);
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    position: fixed;
    top: 60%;
    left: 55%;
    transition: 0.2s;
}
.circle2:hover{
    scale: 1.5;
}
.form-wrapper{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    width: 380px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0px 3px 29px 0px rgba(0,0,0,0.5);
    z-index: 2;
    border-right: 0.5px solid white;
    border-bottom: 0.5px solid white;
}
.form-wrapper h1{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}
.label{
    color: white;
    font-weight: bold;
}
.input-form{
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 15px;
    width: 100%;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'poppins', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.input-form::placeholder{
    color: rgb(156, 156, 156);
    padding: 10px;
}
.form-wrapper a{
    color: rgb(156, 156, 156);
    text-decoration: none;
    transition: 0.3s;
}
.form-wrapper a:hover{
    color: white;
    transition: 0.3s;
}

.btn-submit{
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-size: medium;
    font-weight: bolder;
    background-color:#91eae4;
    transition: 0.4s;
}
.btn-submit:hover{
    background-color: rgba(255, 255, 255, 1);
}