.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 8px;
  background: #1738c8;
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hamburger {
  width: 80px;
  display: inline-block;
  cursor: pointer;
}

.hamburger div {
  height: 8px;
  background-color: #fff;
  margin: .75rem 0;
  border-radius: 5px;
  transition: .4s;
}

.active .bar1 {
  transform: rotate(-45deg) translate(-10px, 18px);
}

.active .bar2 {
  opacity: 0;
}

.active .bar3 {
  transform: rotate(45deg) translate(-10px, -18px);
}