body {
    padding: 0;
    margin: 0;
    background-color: #f7ecde;
}

a {
    color: #ecb365;
    /* padding-left: 20px; */
    padding-right: 70px;
}

a:link {
    text-decoration: none;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 950px;
    /* border: 1px solid #ecb365; */
    border: none;
    border-radius: 10px;
    box-shadow: 15px 15px 20px #ff9494;
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
}

.content {
    display: flex;
    flex: 1;
}

.logo {
    width: 200px;
    display: flex;
    justify-content: center;
    font-family: "Plein", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #252525;
}

.right-section-header {
    color: white;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    color: white;
}

.left-section-main-content {
    flex: 1;
    padding-left: 25px;
    padding-top: 20px;
}

.right-section-main-content {
    flex: 1;
    padding-left: 25px;
    padding-top: 20px;
}

.quote {
    color: #c98474;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    font-size: 35px;
    margin-top: 120px;
}

.name {
    color: #c98474;
    font-family: "Kalam", cursive;
    font-weight: 700;
    padding-left: 300px;
    font-size: 18px;
}

.hi {
    color: #f675a8;
    font-family: "Satoshi", sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 10px 0px 0px 0px;
}

.home,
.work,
.contact {
    font-family: "Work Sans", sans-serif;
    color: #252525;
}

.my-name {
    margin: 18px 0px 0px 0px;
    color: #252525;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.web-dev {
    margin: 18px 0px 0px 0px;
    color: #252525;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.i-love {
    margin: 18px 0px 0px 0px;
    color: #252525;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-size: 40px;
}

.code-span {
    background: #ffa585;
    background: linear-gradient(to right, #ffa585 0%, #f675a8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
