html {
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
}
body {
  background-color: rgb(255, 255, 255);
}
.container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(175, 184, 235);
  padding: 10px;
  align-items: center;
  flex-direction: row;
  flex-shrink: inherit;
  justify-content: space-around;
}
.red {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 100px;
}
.click {
  height: 40px;
  width: 80px;
  background-color: royalblue;
  border-radius: 20px;
}
.gap {
  margin: 10px;
}
img {
  height: 50px;
  width: 50px;
}
.main {
  align-content: center;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 25%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.click {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.click:hover {
  background-color: blue;
  cursor: pointer;
}
.m {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  display: flex;
  background-color: coral;
  width: 50%;
  padding: 10px;
  flex-direction: row;
}
.input {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 20px;
  width: 200px;
}
#photo {
  height: 100%;
  width: 70%;
}
#Submit {
  height: 30px;
  margin: 15px;
  font-weight: bold;
  background-color: cornflowerblue;
}
