*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
body{
display:flex;
justify-content:center;
align-items:center;
width:100vw;
height:100vh;
}
  
#logo{
width:20rem;
aspect-ratio:1;
background:white;
border-radius:50%;
border-left:50px solid #FBBC05;
border-right:50px solid #4385F6;
border-top:50px solid #EC4336;
border-bottom:50px solid #34A856;
position: absolute;
}

#logo::before{
content:'';
width:120px;
height:100px;
position:absolute;
top:-15rem;
right:-12.5rem;
border-top: 100px solid transparent;
border-right: 130px solid #fff;
border-bottom: 100px solid transparent;
border-left: 100px solid transparent;
transform: rotate(90deg);

}
  
#logo:after {
    content: '';
    position: absolute;
    top: 5.3rem;
    right: -1rem;
    width: 140px;
    height: 50px;
    background: #4385F6;
}