* {
    padding: 0;
    margin: 0; 
}
body {
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.facebook-logo {
    background: #4661b0;
    width: 100px;
    height: 110px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    border: 15px solid #4661b0;
    border-bottom: 0;
}
.facebook-logo:before {
    content: "";
    position: absolute;
    background: #4661b0;
    width: 40px;
    height: 90px;
    bottom: -30px;
    right: -37px;
    border: 20px solid #fff;
    border-radius: 25px;
}
.facebook-logo:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 55px;
    height: 20px;
    top: 50px;
    right: 5px;
}
