*,*::after,*::before{
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    overflow-x:hidden;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn{
    font-family: sans-serif;
    margin:30px;   
    background-color: var(--background-color);
    color: #222;
    font-weight: bolder;
    font-size:1.2em; 
    padding: 1em 3em;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
    width: fit-content;
   letter-spacing: 1px;
    --background-color: #ffffff;
    --border-size: 2px;
}
.content-screen{
    margin-top:30px; 
    display:flex; 
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   width:75%; 
}
.btn.btn-border-pop::before{
    content:'';
    position: absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    z-index:-1; 
    /* background-color: red; */
    border: var(--border-size) solid rgb(238, 18, 18); 
    transition: top, left, right, bottom, 100ms ease-in-out;

}

.btn.btn-border-pop:hover::before,
.btn.btn-border-pop:focus::before {
  top: calc(var(--border-size) * -4);
  left: calc(var(--border-size) * -4);
  right: calc(var(--border-size) * -4);
  bottom: calc(var(--border-size) * -4);
}


.btn.btn-background-slide::before{
    content:''; 
    position: absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    z-index:-1; 
    background-color: rgb(13, 48, 241);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    
}
.btn.btn-background-slide:hover::before,.btn.btn-background-slide:focus::before{   
    transform:scaleX(1);  
}

.btn.btn-background-slide{
    z-index:1; 
    transition:color 300ms ease-in-out; 
    /* Trick to make the background-color to display behind the text but before the background of the element */
}
.btn.btn-background-slide:hover,.btn.btn-background-slide:focus{
    color:white; 
}

.btn.btn-background-cover::before{
    content:''; 
    position: absolute; 
    top:0; 
    right:0;
    left:0;
    bottom:0;
    background-color:white;
    z-index:-1; 
    border-radius:50%; 
    transition:transform 400ms ease-in-out; 
    transform:scale(1.5)
}

.btn.btn-background-cover{
    z-index:1; 
    background-color:chartreuse; 
    overflow:hidden; 
    transition:color 300ms ease-in-out; 
}
.btn.btn-background-cover:hover,.btn.btn-background-cover:focus{
    color:white; 
}
.btn.btn-background-cover:hover::before,.btn.btn-background-cover:focus::before{
    transform:scale(0);
}

.btn.btn-underline::before{
    content:''; 
    position:absolute; 
    left:0;
    right:0;
    bottom:0;
    height:5px; 
    background-color:rgb(255, 38, 219); 
    transform:scaleX(0); 
   transition:transform 500ms cubic-bezier(0.79,-0.61, 0, 1.63); 

}

.btn.btn-underline:hover::before,
.btn.btn-underline:focus::before{
    transform:scaleX(1); 
}


.btn.btn-border-race a span{
  display:block ;
  position: absolute; 
  background: rgb(247, 11, 11);
}
.btn.btn-border-race a span:nth-child(1){
    /* left border */
    left:0; 
    top:0;
    bottom:0;
    width:4px; 
    height:100%; 
    transform:scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    /* transition-delay: 0.5s; */

}
.btn.btn-border-race a:hover span:nth-child(1){
    transform:scaleY(1); 
    transform-origin:bottom;
}
.btn.btn-border-race a span:nth-child(2){
     /* top border */
    top:0;
   left:0;
    width:100%; 
    height:4px; 
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.btn.btn-border-race a:hover span:nth-child(2){
    transform:scaleX(1); 
    transform-origin:left;
}

.btn.btn-border-race a span:nth-child(3){
    /* bottom  border */
   left:0; 
   bottom:0;
    width:100%; 
    height:4px; 
    transform:scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    /* transition-delay: 0.5s; */

}
.btn.btn-border-race a:hover span:nth-child(3){
    transform:scaleX(1); 
    transform-origin:left;
}

.btn.btn-border-race a span:nth-child(4){
    /* right border  */
    right:0; 
    bottom:0;
    width:4px; 
    height:100%; 
    transform:scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}
.btn.btn-border-race a:hover span:nth-child(4){
    transform:scaleY(1); 
    transform-origin:bottom;
}


.btn.btn-border-loop{
    color:#1670f0;
    background-color:black;
    box-shadow:0px 10px 50px rgba(62, 177, 212, 0.9); 
}
.btn.btn-border-loop {
    overflow:hidden;
}
.btn.btn-border-loop a span{
    display:block ;
    position: absolute; 
    background: #1670f0;
  }

  .btn.btn-border-loop a:before{
      content:'';
      position:absolute; 
      top:2px;
      left:2px;
      bottom:2px;
      width:50%;
      background:rgba(255,255,255,0.05); 
  }
  .btn.btn-border-loop a span:nth-child(1){
      position:absolute; 
      top:0; 
      left:0; 
      width:100%; 
      height:3px; 
      background:linear-gradient(to right,#0c002b,#1779ff);
      animation: animate1  2s linear infinite; 
  }
  @keyframes animate1{
      0%{
          transform:translateX(-100%); 
      }
      100%{
        transform:translateX(100%);
      }
  }
  .btn.btn-border-loop a span:nth-child(2){
    position:absolute; 
    top:0; 
    right:0; 
    width:3px; 
    height:100%; 
    background:linear-gradient(to bottom,#0c002b,#1779ff);
    animation: animate2  2s linear infinite; 
    animation-delay: 1s;
}
@keyframes animate2{
    0%{
        transform:translateY(-100%); 
    }
    100%{
      transform:translateY(100%);
    }
}

.btn.btn-border-loop a span:nth-child(3){
  position:absolute; 
  bottom:0; 
  right:0; 
  width:100%; 
  height:3px; 
  background:linear-gradient(to left,#0c002b,#1779ff);
  animation: animate3 2s linear infinite; 
}
@keyframes animate3{
    0%{
        transform:translateX(100%); 
    }
    100%{
      transform:translateX(-100%);
    }
}

.btn.btn-border-loop a span:nth-child(4){
  position:absolute; 
  top:0; 
  left:0; 
  width:3px; 
  height:100%; 
  background:linear-gradient(to top,#0c002b,#1779ff);
  animation: animate4 2s linear infinite; 
  animation-delay: 1s;

}

@keyframes animate4{
    0%{
        transform:translateY(100%); 
    }
    100%{
      transform:translateY(-100%);
    }
}
