body {
  background: #191919;
}

.container {
  border: 1px solid white;
  width: 700px;
  height: 600px;
  border-radius: 100% 100% 0 0;
  margin: auto;
}

.upperpart {
  width: 250px;
  height: 400px;
  border-top: 6px solid white;
  margin: auto;
  margin-top: 30%;
}

.line {
  width: 3px;
  height: 200px;
  background: #fff;
  margin: auto;
}

.ball {
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 100%;
}

.first,
.second,
.third,
.fourth,
.fifth {
  width: 50px;
  height: 250px;
  float: left;
}

.first {
  -webkit-animation: move 3s linear infinite;
}

.fifth {
  -webkit-animation: moveback 3s linear infinite;
}

@-webkit-keyframes move {
  0% {
    transform: rotate(45deg);
    transform-origin: top;
  }
  25% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  75% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(45deg);
    transform-origin: top;
  }
}
@-webkit-keyframes moveback {
  0% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  25% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  50% {
    transform: rotate(-45deg);
    transform-origin: top;
  }
  75% {
    transform: rotate(0deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: top;
  }
}