*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #17141d;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section{
    display: flex;
    overflow-x: scroll;
    padding: 3rem;
}


.card{
    display: flex;
    flex-direction: column;
    position: relative;
    height:450px;
    width: 400px;
    min-width: 350px;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow:-1rem 0 3rem #000;
    /* background-image: linear-gradient(to right,#2e2938,#17141d); */
    background-color: #17141d;
    transition: transform 0.2s ease-in;
    justify-content: space-between;
}

.card:hover{
    transform-origin: 100% 0;
    transform: translateY(1.4rem) rotate(5deg);
}

/* selecting siblings tha come after the hovered card */
.card:hover~.card{
    transform: translateX(100px);
}

.card:not(:first-child){
    margin-left:-100px;
}

.card-container::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

section::-webkit-scrollbar-thumb{
    background-color: #201c29;
    border-radius: 15px;
    box-shadow: inset 2px  2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

section::-webkit-scrollbar-track{
    background-image:linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}

.card-author{
    display: grid;
    position: relative;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    display: inline;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
}

span{
    font-weight: 600;
    font-style: italic;
    margin-right: 5px;
}

.card-header> p{
    padding: 1rem;
}

header h2:hover{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top:10px;
}

.tags >a{
    text-decoration: none;
    color: #f4691b;
    border:3px solid #232029;
    border-radius: 15px;
    padding: 0.5rem;
}