*{
    margin: 0;
    padding:0;
    overflow:hidden;
}  
   body{
        background: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
        justify-content: center;
        display: flex;
    }

    .main-container {
     margin-top: 250px;
     text-align: center;
        
    }

    .typing {
        overflow: hidden;
        border-right: 5px solid brown;
        white-space: nowrap;
        animation: typewriter 3s forwards;
        font-size: 65px;
        width: 0;
        color:white;
       
    }
    
    span{
        color: turquoise;
    }


    @keyframes typewriter {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }
    @media screen and (min-width:274px) and (max-width:431px) {
            .typing {
                font-size: 22px;
            }
    
        }
    @media screen and (min-width: 431px) and (max-width:620px) {
            .typing {
                font-size: 35px;
            }
    
         }

    @media screen and (min-width: 620px) and (max-width:806px){
           .typing{
            font-size: 45px;
           }
           
    }


    