@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700;800;900&family=Inter:wght@600;700&display=swap');

body{
    margin: 0;
    color: white;
    font-family: 'Heebo', sans-serif;
}
footer.footer-section {
    background-color: #2B4241;
    padding: 100px 180px;
    padding-bottom: 60px;
}
.footer-item-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 60px;
}
.community-name {
    font-size: 40px;
    font-weight: 400;
    color: #F7B941;
    margin-bottom: 45px;
}
.community{
    color: white;
}
span.item-heading {
    font-size: 24px;
}
p.para {
    width: 375px;
    font-size: 17px;
}
.items {
    line-height: 1.98;
    font-size: 17px;
    margin-top: 15px;
}
.category-section{
    margin-top: 10px;
    padding: 0px 40px;
    padding-left: 0;
}
span.connect {
    font-size: 32px;
    font-weight: 600;
    margin-right: 40px;
}
.social-links {
    display: flex;
    margin-bottom: 80px;
}
.all-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.copyright {
    text-align: center;
}
.category-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
}
@media (max-width: 1500px){
    .footer-item-container{
        flex-direction: column;
    }
}
@media (max-width: 963px){
    .category-container{
        grid-template-columns: 1fr;
    }
    footer.footer-section{
        padding: 100px 80px;
    }
}
@media (min-width: 1600px){
    .category-container{
        column-gap: 150px;
    }
}
@media (max-width: 720px){
    footer.footer-section{
        padding: 100px 40px;
    }
    span.connect{
        font-size: 24px;
        margin-right: 30px;
    }
}
@media (min-width: 545px) and (max-width: 720px){
    .social-links{
        width: 500px;
    }
}
@media (max-width: 545px){
    .community-name{
        font-size: 32px;
    }
    .social-links{
        flex-wrap: wrap;
    }
    p.para{
        font-size: 16px;
    }
    span.connect{
        margin-bottom: 20px;
    }

}
@media (min-width: 450px) and (max-width: 545px){
    p.para{
        width: 370px;
    }
}
@media (max-width: 450px){
    p.para{
        width: 100%;
    }
}