body
{
    margin: 0;
    font-family: 'Merriweather', serif;
    color: #40514E;
}
.first-section{
    text-align: center;
    background-color: #E4F9F5;
}
.cloud-1
{
    position: relative;
    padding-top: 30px;
    left:268px;
}
.cloud-2
{
    position: absolute;
    left: 350px;
}
.name
{
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    font-size: 4rem;
}
h2
{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
.myself
{
    padding-top: 30px;
    text-align: center;
}
.about
{
    width: 400px;
    margin: auto;
}
hr
{
    border-style: dotted;
    border-bottom-style: none;
    border-width: 5px;
    width: 50px;
    margin: 55px auto 55px auto;
    border-color: #EAF6F6;
}
.hot-wings
{
    max-width: 50%;
    margin: 50px auto 0px auto;
}
.chilli
{
    float: right;
    width: 19%;
    height: 142px;
}
.design
{
    max-width: 50%;
    margin: 50px auto 100px auto;
}
.laptop
{
    width: 25%;
    float: left;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p
{
    line-height: 2;
}
.conclusion
{
    text-align: center;
    max-width: 50%;
    margin: auto;
}
.btn{  background: #5bade3;
        background-image: -webkit-linear-gradient(top, #5bade3, #155d8a);
        background-image: -moz-linear-gradient(top, #5bade3, #155d8a);
        background-image: -ms-linear-gradient(top, #5bade3, #155d8a);
        background-image: -o-linear-gradient(top, #5bade3, #155d8a);
        background-image: linear-gradient(to bottom, #5bade3, #155d8a);
        -webkit-border-radius: 7;
        -moz-border-radius: 7;
        border-radius: 7px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #09293d;
        background-image: -webkit-linear-gradient(top, #09293d, #3c94cf);
        background-image: -moz-linear-gradient(top, #09293d, #3c94cf);
        background-image: -ms-linear-gradient(top, #09293d, #3c94cf);
        background-image: -o-linear-gradient(top, #09293d, #3c94cf);
        background-image: linear-gradient(to bottom, #09293d, #3c94cf);
        text-decoration: none;
        cursor: pointer;
      }
footer
{
    margin-top: 50px;
    text-align: center;
    background-color: #66BFBF;
    padding: 40px;
}
a{
 margin: 15px;
 text-decoration: none;
 color: #11999E;
}
.ending
{
    margin: 25px;
    font-size: 1rem;
    color: white;
}
a:hover
{
    color: white;
}