html{
	background: #018DED url(https://unsplash.it/1500/1000?image=881&blur=5);
	background-repeat: no-repeat;
	background-size: cover;
}
.clock{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.clock-face{
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 15px solid floralwhite;
	position: relative;
}
.hand{
	width: 50%;
	height: 5px;
	background-color: black;
	top: 50%;
	position: absolute;
	transform-origin: 100%;
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.second-hand{
	width: 45%;
	left: 5%;
	height: 3px;
}
.min-hand{
	width: 30%;
	left: 20%;
	height: 4px;
}
.hour-hand{
	width: 25%;
	left: 25%;
}