body {
    margin: 0;
    padding: 0;
    background-color: #fffafa;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.upper-section {
    width: 100%;
    height: 50%;
    /* border: solid 1px red; */
    display: flex;
}

.lower-section {
    width: 100%;
    height: 50%;
    /* border: solid 1px red; */
    display: flex;
}

.div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* background-color: #d6efed; */
    transition: background-color 2s;
}

.div-1:hover {
    background-color: #0a66c2;
}

.top-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 301px;
    /* border: solid 1px red; */
    border-radius: 50px;
    transition: border-radius 2s, background 2s, box-shadow 2s;
}

.top-left-box:hover {
    background: linear-gradient(315deg, #095caf, #0b6dd0);
    box-shadow: -30px -30px 60px #0957a5, 30px 30px 60px #0c75df;
}

.div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: background-color 2s;
}

.div-2:hover {
    background-color: #0c090afb;
}

.top-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 301px;
    transition: border-radius 2s, background 2s, box-shadow 2s;
}

.top-right-box:hover {
    border-radius: 50px;
    background: #0c090a;
    box-shadow: -30px -30px 60px #0a0809, 30px 30px 60px #0e0a0c;
}

.div-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: background-color 2s;
}

.div-3:hover {
    background-color: #e1306c;
}

.bottom-left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 301px;
    transition: border-radius 2s, background 2s, box-shadow 2s;
}

.bottom-left-box:hover {
    border-radius: 50px;
    background: #e1306c;
    box-shadow: -30px -30px 60px #bf295c, 30px 30px 60px #ff377c;
}

.div-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    transition: background-color 2s;
}

.div-4:hover {
    background-color: #1da1f2;
}

.bottom-right-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 301px;
    transition: border-radius 2s, background 2s, box-shadow 2s;
}

.bottom-right-box:hover {
    border-radius: 50px;
    background: #1da1f2;
    box-shadow: -30px -30px 60px #1989ce, 30px 30px 60px #21b9ff;
}

.text-div {
    color: transparent;
}

/* .text-div:hover {
    color: white;
} */

.social-text {
    color: white;
    font-size: 30px;
    font-family: "Author", sans-serif;
    font-weight: 400;
}
