.contact-2{
    text-align: center;
    font-size: 50px;
    font-family: serif;
   
 }
.contant{
    width: 30vw;
    border-radius: 40px;
    background-color: #F8EDE3;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px auto;
    padding: 30px 100px;
}
form{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: 600;
    width: 30%;
    display: contents;
}
input[type="text"],input[type="number"],input[type="date"],input[type="email"],input[type="time"],textarea{
    padding: 7px;
    margin: 10px;
    border-radius: 3px;
    border: 2px solid #FDEEDC;
    font-size: 20px;
}
form div{
    padding: 5px;
    margin: 5px;
   font-family: sans-serif;
   font-weight: 700;
}
.last{
    display: flex;
    justify-content: center;
    text-align: center;
}
input[type="submit"]{
    background-color: green;
    border-radius: 20px;
    margin-right: 20px;
    margin-left: 62px;
    font-size: 27px;
    width: 174px;
    padding: 10px;
    border-radius: 5pc;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}

input[type="submit"]:hover{
    background-color: #3EC70B;
    color: black;
    border: 2px solid yellow;
    font-size: 27px;
}
input[type="reset"]{
    background-color: red;
    margin-right: 20px;
    margin-left: 62px;
    font-size: 27px;
    width: 174px;
    padding: 10px;
    border-radius: 5pc;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
input[type="reset"]:hover{
    background-color: #EB4747;
    color: black;
    border: 2px solid yellow;
    font-size: 27px;
}