body{
    background-color:black;
}
.line
{
    border-bottom: 7px solid black;
}
.girl
{   position: absolute;
    background:url(girl.png);
    width: 233px;
    height:233px ;
    animation: walk 1s steps(6) infinite,
                forward 7s linear infinite;
}
@keyframes walk
{

    0%
    {
        background-position: 0px;
    }
    100%
    {
        background-position: 1400px;
    }
}
@keyframes forward
{
    0%
    {
        transform: translateX(-50px);
    }
    100%
    {
        transform: translateX(1250px);
    }
}