body{
   display: flex;
   justify-content: center;
 
   
}
.container{
    margin-top: 260px;
    font-size: 150px;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.animate{
     display: inline-block;
     text-transform: uppercase;
     background-image: linear-gradient( -100deg, #ee82ee 0% , #4b0082 20% ,green 40%,blue 60%,yellow, 75%,orange 83%,red 100%);
     animation: text 3s linear infinite;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-size: 200% auto;
}
@keyframes text {
  to{
    background-position: 200%;
  }  
  
}
@media screen and (max-width:443px) {
    .container {
        font-size: 29px;
    }
}
@media screen and (min-width:443px) and (max-width:581px) {
    .container {
        font-size: 53px;
    }
}
@media screen and (min-width:581px) and (max-width:763px){
    .container{
        font-size:73px;
    }
}
@media screen and (min-width:763px) and (max-width:1105px) {
    .container {
        font-size: 94px;
    }
}