* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
    box-sizing: border-box;
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-text{
    padding:4px;
    cursor:pointer;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 600;
}
.navbar-light .navbar-text {
    color: black;
    font-weight: 600;
}
.carousel{
    margin:30px 30px ;
}
.heading{
    text-align:center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 45px;
    font-weight: bold;
    color: orange;
}
.heading span{
    background:orange;
    color:white;
    display:inline-block;
    padding: 0.5em 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}
.d-md-block,.d-none{
    display:block;
}
/* h3,p{

} */
.navbar-light .navbar-brand {
    font-size:x-large;
    font-weight: bold;
    font-family: 'Carter One', cursive;
    color: orange;
}

.features .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.features .box-container .box{
    padding: 3rem 1rem;
    background: #fff;
    outline:  double orange;
    outline-offset: -1rem;
    text-align: center;
    box-shadow: black;
}
.try{
    width: 90%;
}
.features .box-container .box img{
    margin:1rem 0;
    /* height:15rem; */
}
.features .box-container .box h3{
    font-size:2.5rem;
    line-height:1.8;
    color:black;
}
.features .box-container .box p{
    font-size:1.5rem;
    line-height:1.8;
    color:black;
    padding:1rem 0;
}
.btn{
    border: 1px solid orange;
    border-radius:1.25rem;
}
.btn:hover{
    color:white;
    background-color:orange;
    
}

.products .product-slider{
      padding: 1rem;
}
.products .product-slider:first-child{
    margin-bottom: 2rem;
}
.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 1rem;
    outline:  double orange;
    outline-offset: -1rem;
    box-shadow: black;
    transition:.2s linear;
}
.products .product-slider .box img{
    height: 20rem;
}
.products .product-slider .box h3{
    font-size:2.5rem;
    color:black;
}
.products .product-slider .box .price{
    font-size:2rem;
    color:orange;
    padding:.5rem 0;

}
.products .product-slider .box .stars i{
    font-size:1.7rem;
    color:orange;
    padding:.5rem 0;
}

.footer{
    background:#fff;
    width: 100%;
}
.footer .box-container{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size:2.5rem;
    color:black;
    padding:1rem 0;
}
.footer .box-container .box h3 i{
    color:orange;
}
.footer .box-container .box .links{
    display: block;
    font-size:1.5rem;
    color:black;
    padding:1rem 0;
}
.footer .box-container .box p{
    line-height:1.8;
    font-size:1.5rem;
    color:black;
    padding:1rem 0;
}
.footer .box-container .box .links i{
    color:orange;
    padding-right: .5rem;
}
.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:black;
    margin-right: .2rem;
    background:#eee;
    text-align: center;
}
.footer .box-container .box .share a:hover{
    background:orange;
    color:#fff;
}
.footer .box-container .box .email{
    width:100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background:#eee;
    font-size:1.6rem;
    color:black;
    text-transform:none;
}
.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height:3rem;
}
.footer .credit{
    background:orange;
    /* background:rgba(255, 166, 0, 0.198); */
   text-align: center;
   margin-top: 2rem;
   padding: .5rem;
   /* padding-top:2.5rem; */
   font-size:1.6rem;
   color:black;
   border-top: orange;
}
.footer .credit span{
    color:white;
}
#navbarDropdown:hover{
    color:orange;
}
.navbar-light .navbar-text:hover{
    color:orange;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:orange;
}
.body{
margin: 0;
padding: 0;
}



@media (max-width:768px){
    .features .box-container .box{
        width:100%;
    }
    .heading{
        font-size: 30px;
    }
    .d-none {
        display: block !important;
    }
    .footer{
        text-align: center;
    }
    .products .product-slider .box img {
        width: 100%;
    }
    .footer{
        width: 100%;
    }
}
@media (max-width:500px){
    #carouselExampleCaptions{
        /* width: 100%; */
        width: 435px;
        /* border: 1px solid red; */
    }
}
@media (max-width:498px){
    .footer{
        width: 494px;
        /* height: 50px; */
    }
    .box{
        width: 90%;
    }
    .navbar.navbar-expand-lg.navbar-light{
        width: 494px;
    }
    
}