@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
   
}


.Login-page {
    height: 100vh;
    width: 100%;
    background: #f2eee3;
    position: absolute;
    
    
}
.outer-box {
    padding: 30px;
    width: 25%;
    height: 55%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    overflow: hidden;
    background: linear-gradient(-45deg, #dcd7e0, #fff);
}

.form{
    padding: 5px 5px 10px 5px;
}

h2{
    margin-bottom: 35px;
    font-weight: bolder;
    text-align: center;
}

input {
    border: none;
    width: 80%;
    margin: 15px 0px;
    border-bottom: 1px solid #4f30677d;
    padding: 7px 9px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
}


.Submit{
    position: relative;
    padding:6px;
    width:100%;
    color:#000000;
    font-size: large;

    border: 1px solid  #4f30677d;
    border-radius: 3px;
}

.Submit:hover{
    background-color:#dad0e27d ;
}


.Username{
    font-size:18px;
    font-family: ;
}

@media(max-width: 858px){
    .outer-box{
        width:50%;
        height:70%;
    }
}

@media(max-width: 400px){
    .outer-box{
        position: fixed;
        width:80%;
        height: 50%;
    }
}